<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="frontend/layout">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <!-- BEGIN PAGE LEVEL STYLES -->
        <th:block layout:fragment="page-styles">
            <link th:href="@{/assets/global/plugins/fancybox/source/jquery.fancybox.css}" rel="stylesheet" type="text/css">
            <link th:href="@{/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css}" rel="stylesheet" type="text/css">
            <link th:href="@{/assets/global/plugins/slider-layer-slider/css/layerslider.css}" rel="stylesheet" type="text/css">
        </th:block>
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME STYLES -->
        <th:block layout:fragment="theme-styles">
            <link th:href="@{/assets/frontend/pages/css/style-layer-slider.css}" rel="stylesheet" type="text/css">
        </th:block>
        <!-- END THEME STYLES  -->
    </head>
    <body>
        <!-- BEGIN SLIDER -->
        <div layout:fragment="slider" class="page-slider margin-bottom-35">
            <!-- HOME SLIDER -->
            <th:block th:replace="frontend/fragments/slider::home"></th:block>
        </div>
        <!-- END SLIDER -->
        <th:block layout:fragment="content">
            <!-- BEGIN SALE PRODUCT & NEW ARRIVALS -->
            <div class="row margin-bottom-40">
                <div class="col-md-12 sale-product">
                    <h2 th:text="#{frontend.arrivals.title}">New Arrivals</h2>
                    <div class="owl-carousel owl-carousel5">
                        <div>
                            <th:block  th:each="product:${arrivals}" 
                                       th:include="templates/frontend/fragments/product/detail::simple-card(${product})" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- BEGIN SIDEBAR & CONTENT -->
            <div class="row margin-bottom-40 ">
                <th:block th:replace="frontend/fragments/sidebar::categories" />
            </div>
        </th:block>
        <th:block layout:fragment="page-scripts">
            <script th:src="@{/assets/global/plugins/fancybox/source/jquery.fancybox.pack.js}" type="text/javascript"></script>
            <script th:src="@{/assets/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js}" type="text/javascript"></script><!-- slider for products -->
            <script th:src='@{/assets/global/plugins/zoom/jquery.zoom.min.js}' type="text/javascript"></script><!-- product zoom -->
            <script th:src="@{/assets/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js}" type="text/javascript"></script><!-- Quantity -->
            <!-- BEGIN LayerSlider -->
            <script th:src="@{/assets/global/plugins/slider-layer-slider/js/greensock.js}" type="text/javascript"></script><!-- External libraries: GreenSock -->
            <script th:src="@{/assets/global/plugins/slider-layer-slider/js/layerslider.transitions.js}" type="text/javascript"></script><!-- LayerSlider script files -->
            <script th:src="@{/assets/global/plugins/slider-layer-slider/js/layerslider.kreaturamedia.jquery.js}" type="text/javascript"></script><!-- LayerSlider script files -->
            <script th:src="@{/assets/frontend/pages/scripts/layerslider-init.js}" type="text/javascript"></script>
            <!-- END LayerSlider -->
        </th:block>
        <th:block layout:fragment="init-script">
            <script type="text/javascript">
                jQuery(document).ready(function() {
                    Layout.initOWL();
                    LayersliderInit.initLayerSlider();
                    Layout.initImageZoom();
                    Layout.initTouchspin();
                });
            </script>
        </th:block>
    </body>
</html>
