<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="global/errors/layout">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>
        <div layout:fragment="content" class="page-500-full-page">
            <div class="row">
                <div class="col-md-12 page-500">
                    <div class=" number">
                        500
                    </div>
                    <div class=" details">
                        <h3>Oops! Something went wrong.</h3>
                        <p>
                            We are fixing it!<br/>
                            Please come back in a while.<br/><br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
