<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
    <th:block th:fragment="form">
        <div id="tab_images_uploader_container" class="text-align-reverse margin-bottom-10">
            <a id="tab_images_uploader_pickfiles" href="javascript:;" class="btn yellow">
                <i class="fa fa-plus"></i>
                <span th:text="#{admin.product.edit.models.btn.select}">Select Files</span>
            </a>
            <a id="tab_images_uploader_uploadfiles" href="javascript:;" class="btn green">
                <i class="fa fa-share"></i>
                <span th:text="#{admin.product.edit.models.btn.upload}">Upload Files</span>
            </a>
        </div>
        <div class="row">
            <div id="tab_images_uploader_filelist" class="col-md-6 col-sm-12">
            </div>
        </div>
        <table class="table table-bordered table-hover">
            <thead>
                <tr role="row" class="heading">
                    <th width="8%" th:text="#{admin.product.edit.models.th.image}">Image</th>
                    <th width="25%" th:text="#{admin.product.edit.models.th.desc}">Description</th>
                    <th width="10%" th:text="#{admin.product.edit.models.th.quantity}">Quantity</th>
                </tr>
            </thead>
            <tbody id="modelRows">
                <!-- show current models --> 
                <tr th:if="${not #lists.isEmpty(models)}" th:each="model, stat: ${models}">
                    <td>
                        <img th:src="@{/images/products/{image}(image=${model.image})}"  width="100" height="100" />
                        <input type="hidden" th:field="*{models[__${stat.index}__].image}" />
                    </td>
                    <td>
                        <input type="text" class="form-control" th:field="*{models[__${stat.index}__].desc}" th:placeholder="#{admin.product.edit.models.th.desc.placeholder}" />
                    </td>
                    <td>
                        <input type="number" class="form-control" th:field="*{models[__${stat.index}__].quantity}" />
                    </td>
                </tr>
                <!-- Template for dynamic adding -->
                <tr id="modelRowTemplate" th:data-origin="@{/images/products/}" style="display: none">
                    <td>
                        <img src="#" width="100" height="100" />
                        <input type="hidden" data-image />
                    </td>
                    <td>
                        <input type="text" data-desc class="form-control"  th:placeholder="#{admin.product.edit.models.th.desc.placeholder}">
                    </td>
                    <td>
                        <input type="number" data-quantity class="form-control"  value="0"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </th:block>
</body>
</html>
