<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    layout:decorator="global/errors/layout">
    <head>
        <title>TODO supply a title</title>
    </head>
    <body>
        <div layout:fragment="content" class="page-404-full-page">
            <div class="row">
                <div class="col-md-12 page-404">
                    <div class="number">
                        404
                    </div>
                    <div class="details">
                        <h3>Oops! You're lost.</h3>
                        <p>
                            We can not find the page you're looking for.<br/>
                            <a th:href="@{/admin/home}">
                                Return home </a>
                            or try the search bar below.
                        </p>
                        <form action="#">
                            <div class="input-group input-medium">
                                <input type="text" class="form-control" placeholder="keyword...">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn blue"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                            <!-- /input-group -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
