<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <title>Metronic | Extra - 500 Page Option 2</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta content="A Error Page" name="description"/>
        <meta content="Sergio" name="author"/>
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
        <link th:href="@{/assets/global/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
        <link th:href="@{/assets/global/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link th:href="@{/assets/admin/pages/css/error.css}" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <!-- BEGIN THEME STYLES -->
        <link href="@{/assets/global/css/components.css}" rel="stylesheet" type="text/css"/>
        <link href="@{/assets/global/css/plugins.css}" rel="stylesheet" type="text/css"/>
        <link href="@{/assets/admin/layout/css/layout.css}" rel="stylesheet" type="text/css"/>
        <link href="@{/assets/admin/layout/css/themes/darkblue.css}" rel="stylesheet" type="text/css"/>
        <link href="@{/assets/admin/layout/css/custom.css}" rel="stylesheet" type="text/css"/>
        <!-- END THEME STYLES -->
        <!-- Favicon -->
        <link rel="shortcut icon" th:href="@{/img/favicon.ico}" />
    </head>
    <body layout:fragment="content">
    </body>
</html>
