<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <!-- Fragment create review for product -->
        <th:block th:fragment="create">
            <form action="#" class="reviews-form" role="form" method="post" th:object="${review}">
                <h2 th:text="#{common.reviews.write}">Write a review</h2>
                <div class="form-group">
                    <label for="review">
                        <span th:text="#{frontend.review.form.review}">Review</span>
                        <span class="require">*</span>
                    </label>
                    <textarea class="form-control" rows="8" th:field="${body}" id="review"></textarea>
                </div>
                <div class="form-group">
                    <label th:text="#{frontend.review.form.rating}">Rating</label>
                    <input type="range" value="4" step="0.25" th:field="${rating}" id="backing5">
                        <div class="rateit" data-rateit-backingfld="#backing5" data-rateit-resetable="false"  data-rateit-ispreset="true" data-rateit-min="0" data-rateit-max="5">
                        </div>
                </div>
                <div class="padding-top-20">                  
                    <button type="submit" class="btn btn-primary" th:text="#{common.btns.save}">Send</button>
                </div>
            </form>
        </th:block>
        
         <!-- Fragment for list reviews -->
        <th:block th:fragment="list(items)">
            <p th:if="${#lists.isEmpty(items)}" th:text="#{frontend.review.empty}">There are no reviews for this product.</p>
            <div class="review-item clearfix" th:if="${not #lists.isEmpty(items)}" th:each="item:${items}">
                <div class="review-item-submitted">
                    <strong>Bob</strong>
                    <em>30/12/2013 - 07:37</em>
                    <div class="rateit" data-rateit-value="5" data-rateit-ispreset="true" data-rateit-readonly="true"></div>
                </div>                                              
                <div class="review-item-content">
                    <p>Sed velit quam, auctor id semper a, hendrerit eget justo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis vel arcu pulvinar dolor tempus feugiat id in orci. Phasellus sed erat leo. Donec luctus, justo eget ultricies tristique, enim mauris bibendum orci, a sodales lectus purus ut lorem.</p>
                </div>
            </div>
            <th:block th:include="this::create" />
        </th:block>
           
    </body>
</html>
