<!DOCTYPE html>
<html
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <th:block th:fragment="flow-messages" 
                  th:with="alertTypes = ${ {'INFO':'alert-info','ERROR':'alert-error','WARNING':'alert-warning'} }">
            <div 
                class="alert"
                th:each="message: ${flowRequestContext.messageContext.allMessages}" 
                th:classappend="${alertTypes.get(message.severity)}">
                <p th:text="${message.text}">Message text</p>
            </div>
        </th:block>
    </body>
</html>
