<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <!-- BEGIN HEADER -->
        <th:block th:fragment="alerts">
            <div th:if="${param.error}" th:text="#{common.login.form.invalid}" class="alert alert-danger">    
                Invalid username and password.
            </div>
            <div th:if="${param.logout}" th:text="#{common.login.form.logged.out}" class="alert alert-success"> 
                You have been logged out.
            </div>
        </th:block>
        <!-- Header END -->
    </body>
</html>
