<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="frontend/layout">
    <head>
        <title th:text="#{frontend.checkout.confirm}">Confirm Order</title>
    </head>
    <body>
        <!-- BEGIN MAIN -->
        <div layout:fragment="content">
            <h1 th:text="#{frontend.checkout.confirm}">Confirm Order</h1>
            <div class="col-md-12 clearfix">
                <div class="table-wrapper-responsive">
                    <table>
                        <tr>
                            <th class="checkout-image" 
                                th:text="#{frontend.checkout.confirm.table.th.image}">Image</th>
                            <th class="checkout-description"
                                th:text="#{frontend.checkout.confirm.table.th.description}">Description</th>
                            <th class="checkout-quantity"
                                th:text="#{frontend.checkout.confirm.table.th.quantity}">Quantity</th>
                            <th class="checkout-price"
                                th:text="#{frontend.checkout.confirm.table.th.price}">Price</th>
                            <th class="checkout-total"
                                th:text="#{frontend.checkout.confirm.table.th.total}">Total</th>
                        </tr>
                        <tr th:each="line: ${order.orderLines}">
                            <td class="checkout-image">
                                <img th:src="@{/images/products/{image}(image=${line.productLine.image})}" th:alt="${line.productLine.description}" />
                            </td>
                            <td class="checkout-description">
                                <h3 th:text="${line.productLine.product.name}">Product Name</h3>
                                <em th:text="${line.productLine.description}">More info is here</em>
                            </td>
                            <td class="checkout-quantity" th:text="${line.quantity}">1</td>
                            <td class="checkout-price">
                                <strong><span th:text="${line.productLine.product.price}">47.00</span><span>&euro;</span></strong>
                            </td>
                            <td class="checkout-total">
                                <strong>
                                    <span th:text="${line.totalPrice}">47.00</span><span>&euro;</span>
                                </strong>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="checkout-total-block" th:with="subTotal = ${#aggregates.sum(order.orderLines.![totalPrice])}">
                    <ul>
                        <li>
                            <em th:text="#{common.shop.subtotal}">Sub total</em>
                            <strong class="price"><span th:text="${subTotal}">47.00</span><span>&euro;</span></strong>
                        </li>
                        <li>
                            <em th:text="#{common.shop.shipping.cost}">Shipping cost</em>
                            <strong class="price">3.00<span>&euro;</span></strong>
                        </li>
                        <li class="checkout-total-price">
                            <em th:text="#{common.shop.total}">Total</em>
                            <strong class="price">
                                <span th:with="total=${subTotal + 3.00}" th:text="${total}">50.00</span>
                                <span>&euro;</span>
                            </strong>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <input type="hidden" name="_flowExecutionKey" th:value="${flowExecutionKey}" />
                <button id="button-confirm" class="btn btn-primary pull-right" type="submit" 
                        name="_eventId_confirm"  th:text="#{frontend.checkout.confirm.submit}">Confirm Order</button>
                <button type="submit" class="btn btn-default pull-right margin-right-20" name="_eventId_cancelOrder" 
                        th:text="#{frontend.checkout.cancel}">Cancel</button>
            </div>
        </div>
    </body>
</html>
