<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="frontend/layout">
    <head>
        <title th:text="#{frontend.checkout.thanks.consumer}">Order Created</title>
    </head>
    <body>
        <!-- BEGIN MAIN -->
        <div layout:fragment="content">
            <h1 th:text="#{frontend.checkout.created}">Order Created</h1>
            <h2 th:text="#{frontend.checkout.created.order.id(${order.id})}">Order Created</h2>
            <a th:href="${flowExecutionUrl}&_eventId=finish" class="btn btn-primary" 
               th:text="#{common.btns.continue}">Continue</a>
        </div>
    </body>
</html>
