<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org" >
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- BEGIN HEADER -->
        <div th:fragment="header" class="header">
            <div class="container">
                <a class="site-logo" href="shop-index.html">
                    <img src="@{/assets/frontend/layout/img/logos/logo-shop-red.png}" alt="Metronic Shop UI">
                </a>
                <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>
                <!-- BEGIN CART -->
                <div class="top-cart-block" th:with="items = ${@cartService.getAllItem()}">
                    <div class="top-cart-info">
                        <a th:href="@{/shopping-cart}" class="top-cart-info-count" th:text="#{frontend.cart.total.products(${items.size()})}">3 items</a>
                        <a th:href="@{/shopping-cart}" class="top-cart-info-value"  th:if="${not #lists.isEmpty(items)}"
                           th:with="subTotal = ${#aggregates.sum(items.![totalPrice])}" th:text="${subTotal}">1260<span>&euro;</span></a>
                    </div>
                    <i class="fa fa-shopping-cart"></i>
                    <div class="top-cart-content-wrapper">
                        <div class="top-cart-content">
                            <ul class="scroller" style="height: 250px;">
                                <li th:each="item:${items}">
                                    <a th:href="@{/products/detail/{line}(line=${item.productLine.id})}">
                                        <img th:src="@{/images/products/{image}(image=${item.productLine.image})}" th:alt="${item.productLine.description}" width="37" height="34">
                                    </a>
                                    <span class="cart-content-count">x<span th:text="${item.quantity}">1</span></span>
                                    <strong><a th:href="@{/products/detail/{line}(line=${item.productLine.id})}" th:text="${item.productLine.product.name}">Product Name</a></strong>
                                    <em><span th:text="${item.totalPrice}">1230</span><span>&euro;</span></em>
                                </li>
                            </ul>
                            <div class="text-right">
                                <a th:href="@{/shopping-cart}" class="btn btn-default" th:text="#{common.btns.view.cart}">View Cart</a>
                                <a th:href="@{/checkout}" th:if="${not #lists.isEmpty(items)}" class="btn btn-primary" th:text="#{common.btns.checkout}">Checkout</a>
                            </div>
                        </div>
                    </div>            
                </div>
                <!--END CART -->

                <!-- BEGIN NAVIGATION -->
                <div class="header-navigation">
                    <ul>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                                Woman 

                            </a>
                            <!-- BEGIN DROPDOWN MENU -->
                            <ul class="dropdown-menu">
                                <li class="dropdown-submenu">
                                    <a href="shop-product-list.html">Hi Tops <i class="fa fa-angle-right"></i></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="shop-product-list.html">Second Level Link</a></li>
                                        <li><a href="shop-product-list.html">Second Level Link</a></li>
                                        <li class="dropdown-submenu">
                                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                                                Second Level Link 
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="shop-product-list.html">Third Level Link</a></li>
                                                <li><a href="shop-product-list.html">Third Level Link</a></li>
                                                <li><a href="shop-product-list.html">Third Level Link</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="shop-product-list.html">Running Shoes</a></li>
                                <li><a href="shop-product-list.html">Jackets and Coats</a></li>
                            </ul>
                            <!-- END DROPDOWN MENU -->
                        </li>
                        <li class="dropdown dropdown-megamenu">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                                Man

                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="header-navigation-content">
                                        <div class="row">
                                            <div class="col-md-4 header-navigation-col">
                                                <h4>Footwear</h4>
                                                <ul>
                                                    <li><a href="shop-product-list.html">Astro Trainers</a></li>
                                                    <li><a href="shop-product-list.html">Basketball Shoes</a></li>
                                                    <li><a href="shop-product-list.html">Boots</a></li>
                                                    <li><a href="shop-product-list.html">Canvas Shoes</a></li>
                                                    <li><a href="shop-product-list.html">Football Boots</a></li>
                                                    <li><a href="shop-product-list.html">Golf Shoes</a></li>
                                                    <li><a href="shop-product-list.html">Hi Tops</a></li>
                                                    <li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 header-navigation-col">
                                                <h4>Clothing</h4>
                                                <ul>
                                                    <li><a href="shop-product-list.html">Base Layer</a></li>
                                                    <li><a href="shop-product-list.html">Character</a></li>
                                                    <li><a href="shop-product-list.html">Chinos</a></li>
                                                    <li><a href="shop-product-list.html">Combats</a></li>
                                                    <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                                                    <li><a href="shop-product-list.html">Fleeces</a></li>
                                                    <li><a href="shop-product-list.html">Gilets</a></li>
                                                    <li><a href="shop-product-list.html">Golf Tops</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4 header-navigation-col">
                                                <h4>Accessories</h4>
                                                <ul>
                                                    <li><a href="shop-product-list.html">Belts</a></li>
                                                    <li><a href="shop-product-list.html">Caps</a></li>
                                                    <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                                                </ul>

                                                <h4>Clearance</h4>
                                                <ul>
                                                    <li><a href="shop-product-list.html">Jackets</a></li>
                                                    <li><a href="shop-product-list.html">Bottoms</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-md-12 nav-brands">
                                                <ul>
                                                    <li><a href="shop-product-list.html"><img title="esprit" alt="esprit" src="../../assets/frontend/pages/img/brands/esprit.jpg"></a></li>
                                                    <li><a href="shop-product-list.html"><img title="gap" alt="gap" src="../../assets/frontend/pages/img/brands/gap.jpg"></a></li>
                                                    <li><a href="shop-product-list.html"><img title="next" alt="next" src="../../assets/frontend/pages/img/brands/next.jpg"></a></li>
                                                    <li><a href="shop-product-list.html"><img title="puma" alt="puma" src="../../assets/frontend/pages/img/brands/puma.jpg"></a></li>
                                                    <li><a href="shop-product-list.html"><img title="zara" alt="zara" src="../../assets/frontend/pages/img/brands/zara.jpg"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="shop-item.html">Kids</a></li>
                        <li class="dropdown dropdown100 nav-catalogue">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;">
                                New

                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="header-navigation-content">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-4 col-xs-6">
                                                <div class="product-item">
                                                    <div class="pi-img-wrapper">
                                                        <a href="shop-item.html"><img src="../../assets/frontend/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress"></a>
                                                    </div>
                                                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                                                    <div class="pi-price">$29.00</div>
                                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-6">
                                                <div class="product-item">
                                                    <div class="pi-img-wrapper">
                                                        <a href="shop-item.html"><img src="../../assets/frontend/pages/img/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress"></a>
                                                    </div>
                                                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                                                    <div class="pi-price">$29.00</div>
                                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-6">
                                                <div class="product-item">
                                                    <div class="pi-img-wrapper">
                                                        <a href="shop-item.html"><img src="../../assets/frontend/pages/img/products/model7.jpg" class="img-responsive" alt="Berry Lace Dress"></a>
                                                    </div>
                                                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                                                    <div class="pi-price">$29.00</div>
                                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                                </div>
                                            </div>
                                            <div class="col-md-3 col-sm-4 col-xs-6">
                                                <div class="product-item">
                                                    <div class="pi-img-wrapper">
                                                        <a href="shop-item.html"><img src="../../assets/frontend/pages/img/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress"></a>
                                                    </div>
                                                    <h3><a href="shop-item.html">Berry Lace Dress</a></h3>
                                                    <div class="pi-price">$29.00</div>
                                                    <a href="javascript:;" class="btn btn-default add2cart">Add to cart</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        
                        <!-- BEGIN TOP SEARCH -->
                        <li class="menu-search">
                            <span class="sep"></span>
                            <i class="fa fa-search search-btn"></i>
                            <div class="search-box">
                                <form th:action="@{/products/search}">
                                    <div class="input-group">
                                        <input type="search" name="query" class="form-control" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary" type="submit" th:text="#{common.btns.search}">Search</button>
                                        </span>
                                    </div>
                                </form>
                            </div> 
                        </li>
                        <!-- END TOP SEARCH -->
                    </ul>
                </div>
                <!-- END NAVIGATION -->
            </div>
        </div>
        <!-- Header END -->
    </body>
</html>
