<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- BEGIN SIDEBAR -->
        <th:block th:fragment="categories">
            <ul class="list-group margin-bottom-25 sidebar-menu">
                <li class="list-group-item clearfix dropdown" th:each="category: ${categories}">
                    <a href="javascript:void">
                        <span class="fa fa-angle-right"></span>
                        <span th:text="${category.name}">Category Name</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="list-group-item dropdown clearfix" th:each="subcategory: ${category.subcategories}">
                            <a th:href="@{/products/categories/{category}(category = ${subcategory.slug})}">
                                <span class="fa fa-angle-right"></span>
                                <span th:text="${subcategory.name}">SubCategory Name</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </th:block>
        <!-- END SIDEBAR -->
        <th:block th:fragment="account-options">
            <div class="sidebar col-md-3 col-sm-3">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    <li class="list-group-item clearfix">
                        <a th:href="@{/login}">
                            <i class="fa fa-angle-right"></i> 
                            <span th:text="#{sidebar.account.login}">Login</span>
                        </a>
                    </li>
                    <li class="list-group-item clearfix">
                        <a th:href="@{/signup}">
                            <i class="fa fa-angle-right"></i>
                            <span th:text="#{sidebar.account.signup}">Signup</span>
                        </a>
                    </li>
                </ul>
            </div>
        </th:block>
        
    </body>
</html>
