<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- BEGIN SIDEBAR -->
        <div th:fragment="categories" class="sidebar col-md-3 col-sm-4">
            <ul class="list-group margin-bottom-25 sidebar-menu">
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Ladies</a></li>
                <li class="list-group-item clearfix dropdown">
                    <a href="shop-product-list.html">
                        <i class="fa fa-angle-right"></i>
                        Mens

                    </a>
                    <ul class="dropdown-menu">
                        <li class="list-group-item dropdown clearfix">
                            <a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Shoes </a>
                            <ul class="dropdown-menu">
                                <li class="list-group-item dropdown clearfix">
                                    <a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic 1</a></li>
                                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Classic 2</a></li>
                                    </ul>
                                </li>
                                <li class="list-group-item dropdown clearfix">
                                    <a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport  </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport 1</a></li>
                                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sport 2</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Trainers</a></li>
                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Jeans</a></li>
                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Chinos</a></li>
                        <li><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> T-Shirts</a></li>
                    </ul>
                </li>
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Kids</a></li>
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Accessories</a></li>
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Sports</a></li>
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Brands</a></li>
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Electronics</a></li>
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Home & Garden</a></li>
                <li class="list-group-item clearfix"><a href="shop-product-list.html"><i class="fa fa-angle-right"></i> Custom Link</a></li>
            </ul>
        </div>
        <!-- END SIDEBAR -->
        
        <div th:fragment="account-options" class="sidebar col-md-3 col-sm-3">
            <ul class="list-group margin-bottom-25 sidebar-menu">
                <li class="list-group-item clearfix">
                    <a th:href="@{/login}">
                        <i class="fa fa-angle-right"></i> 
                        <span th:text="#{sidebar.account.login}">Login</span>
                    </a>
                </li>
                <li class="list-group-item clearfix">
                    <a th:href="@{/signup}">
                        <i class="fa fa-angle-right"></i>
                        <span th:text="#{sidebar.account.signup}">Signup</span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
