<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!-- LayerSlider start -->
        <div th:fragment="home" id="layerslider" style="width: 100%; height: 494px; margin: 0 auto;">
            <!-- slide one start -->
            <div class="ls-slide ls-slide1" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 24,25,27,28;">
                <img th:src="@{/assets/frontend/pages/img/layerslider/slide1/bg.jpg}" class="ls-bg" alt="Slide background">
            </div>
            <!-- slide one end -->
            <!-- slide two start -->
            <div class="ls-slide ls-slide2" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">
                <img th:src="@{/assets/frontend/pages/img/layerslider/slide2/bg.jpg}" class="ls-bg" alt="Slide background">
            </div>
            <!-- slide two end -->
            <!-- slide three start -->
            <div class="ls-slide ls-slide3" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 92,93,105;">
                <img th:src="@{/assets/frontend/pages/img/layerslider/slide3/bg.jpg}" class="ls-bg" alt="Slide background">
            </div>
            <!-- slide three end -->
            <!-- slide four start -->
            <div class="ls-slide ls-slide4" data-ls="offsetxin: right; slidedelay: 7000; transition2d: 110,111,112,113;">
                <img th:src="@{/assets/frontend/pages/img/layerslider/slide4/bg.jpg}" class="ls-bg" alt="Slide background">
            </div>
            <!-- slide four end -->
        </div>
        <!-- LayerSlider end -->
    </body>
</html>
