<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <!-- Fragment for upload user avatar (it is should include on form) -->
        <th:block th:fragment="no-form">
            <div class="form-group">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                        <img th:if="${user.avatar == null}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""/>
                        <img th:if="${user.avatar != null}" th:src="@{/admin/users/avatar/{id}(id=${user.avatar.id})}" th:alt="${user.fullName}"/>
                    </div>
                    <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;">
                    </div>
                    <div>
                        <span class="btn default btn-file">
                            <span class="fileinput-new" th:text="#{admin.user.avatar.select}">Select image</span>
                            <span class="fileinput-exists" th:text="#{admin.user.avatar.change}">Change</span>
                            <input type="file" name="avatarfile">
                        </span>
                        <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput" th:text="#{admin.user.avatar.remove}">Remove</a>
                    </div>
                </div>
                <div class="clearfix margin-top-10">
                    <span class="label label-danger">NOTE!</span>
                    <span th:text="#{admin.user.avatar.note}">Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                </div>
            </div>
        </th:block>
    
        <!-- A fragment with form wrapper for avatar fragment -->
        <th:block th:fragment="form(url)">
            <p th:text="#{admin.user.avatar.info}"></p>
            <form th:action="@{${url}}" method="post" accept-charset="UTF-8" 
                enctype="multipart/form-data" role="form">
                <th:block th:include="this::no-form"/>
                <div class="margin-top-10">
                    <input type="submit" class="btn green-haze" th:value="#{admin.user.avatar.save}" value="Submit" />
                </div>
            </form>
        </th:block>
    </body>
</html>
