<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <th:block th:fragment="form">
            <form th:action="@{/admin/users/self/change-password}" method="post" th:object="${user}">
                <th:block th:replace="admin/fragments/alerts::form-errors"></th:block>
                <div class="form-group">
                    <label class="control-label" th:text="#{admin.change.password.current.label}">Current Password</label>
                    <input type="password" th:field="*{currentClearPassword}" th:placeholder="#{admin.change.password.current.placeholder}" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label" th:text="#{admin.change.password.new.label}">New Password</label>
                    <input type="password" th:field="*{passwordClear}" class="form-control" th:placeholder="#{admin.change.password.new.placeholder}"/>
                </div>
                <div class="form-group">
                    <label class="control-label" th:text="#{admin.change.password.retry.new.label}">Re-type New Password</label>
                    <input type="password" th:field="*{confirmPassword}" th:placeholder="#{admin.change.password.retry.new.placeholder}" class="form-control"/>
                </div>
                <div class="margin-top-10">
                    <input type="submit" class="btn green-haze" th:value="#{admin.change.password.save}" value="Change Password" />
                    <input type="reset" class="btn default"  th:value="#{admin.change.password.reset}" value="Reset" />
                </div>
            </form>
        </th:block>
    </body>
</html>
