<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <!-- Fragment with basic personal information about user -->
        <div class="form-body" th:fragment="basic">
            <div class="form-group">
                <label class="col-md-2 control-label" th:text="#{admin.user.form.username.label}">Username</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{username}" th:placeholder="#{admin.user.form.username.placeholder}" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:text="#{admin.user.form.email.label}">email</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{email}" th:placeholder="#{admin.user.form.email.placeholder}" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:text="#{admin.user.form.fullName.label}">fullname</label>
                <div class="col-md-10">
                    <input type="text" th:field="*{fullName}" th:placeholder="#{admin.user.form.fullName.placeholder}" class="form-control"/>
                </div>
            </div>
        </div>
        
         <!-- Fragment with basic personal information and create password -->
        <div class="form-body" th:fragment="complete">
            <th:block th:include="this::basic" th:remove="tag"/>
            <div class="form-group">
                <label class="col-md-2 control-label" th:text="#{admin.user.form.password}">Password</label>
                <div class="col-md-10">
                    <input type="password" th:field="*{passwordClear}" class="form-control" th:placeholder="#{admin.user.form.password.placeholder}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label" th:text="#{admin.user.form.retry.password}">Re-type Password</label>
                <div class="col-md-10">
                    <input type="password" th:field="*{confirmPassword}" th:placeholder="#{admin.user.form.retry.password.placeholder}" class="form-control"/>
                </div>
            </div>
        </div>
        
        <!-- A fragment with wrapper form for basic personal information fragment -->
        <th:block th:fragment="form-basic(url)">
            <form role="form" th:action="@{${url}}" method="post" th:object="${user}">
                <th:block th:replace="admin/fragments/alerts::form-errors"></th:block>
                <th:block th:include="this::basic" th:remove="tag"/>
                <div class="margiv-top-10">
                    <input type="submit"  class="btn green-haze" value="Save" th:value="#{admin.user.form.save}" />
                    <input type="reset"  class="btn default" value="Reset" th:value="#{admin.user.form.reset}" />
                </div>
            </form>
        </th:block>
                
        <!-- A fragment with wrapper form for remove user -->
        <th:block th:fragment="form-remove(remove, back)">
            <form role="form" th:action="@{${remove}}" method="post" th:object="${user}">
                <th:block th:include="this::basic" th:remove="tag"/>
                <div class="margiv-top-10">
                    <input type="submit" class="btn red-haze" value="Remove" th:value="#{common.btns.remove}"/>
                    <a class="btn default" th:href="@{${back}}" th:text="#{common.btns.back}">Back</a>
                </div>
            </form>
        </th:block>
        
        <!-- A fragment with wrapper form for complete user fragment -->
        <th:block th:fragment="form-complete(url)">
            <form role="form" th:action="${url}" method="post" th:object="${user}">
                <th:block th:replace="admin/fragments/alerts::form-errors"></th:block>
                <th:block th:include="this::complete" th:remove="tag"/>
                <div class="margiv-top-10">
                    <input type="submit"  class="btn green-haze" value="Save" th:value="#{admin.user.form.save}" />
                    <input type="reset"  class="btn default" value="Reset" th:value="#{admin.user.form.reset}" />
                </div>
            </form>
        </th:block>
    </body>
</html>
